In [1]:
from elasticsearch import Elasticsearch
import requests
from  elasticsearch.helpers import scan as scan

es = Elasticsearch([{"host": "localhost", "port": 9200}])

In [1]:
import pandas as pd
from pandas.io.json import json_normalize
#df=json_normalize(docs)

In [65]:
body={
    "_source": [
        "context.user_id",
        "context.course_id",
        "referer",
        "time",
        "event.submission",
        "event.attempts",
        "event.problem_id" 
    ],
    "query": {
        "bool":{
            "must":[                
                {"match_phrase":{
                    "event_type": "problem_check"
                }},
                {"match":{
                    "event_source": "server"
                }}           
            ],
            "must_not":[
                {"match_phrase":{
                    "event_type": "problem_check_fail"
                }}
            ]            
        }
    }
}

def ret():
    for hit in scan(es,
         index="online_courses", 
         query=body
        ):        
        if hit.get("_source").get("event") :
            if hit.get("_source").get("event").get("submission")!={}:
                submission=str(hit.get("_source").get("event").get("submission")).split('correct\': ')[1:]
                results=[]
                for res in submission:
                    if res[0:5]=='False':
                        results.append(0)
                    elif res[0:4]=='True':
                        results.append(1)
                yield {                    
                    "user_id":hit.get("_source").get("context").get("user_id"),
                    "course_id":hit.get("_source").get("context").get("course_id"),
                    "time":hit.get("_source").get("time"),
                    "results":results,
                    "attempt_num":hit.get("_source").get("event").get("attempts"),
                    "theme_id":hit.get("_source").get("referer").split('courseware/')[-1].split('/')[1],
                    "problem_id":hit.get("_source").get("event").get("problem_id"),
        }

In [66]:
df=pd.DataFrame(ret()).sort_values(by=['time'])

In [67]:
df[:3]

,attempt_num,course_id,problem_id,results,theme_id,time,user_id
0,1,course-v1:spbu+SOCLAB+spring_2018,block-v1:spbu+SOCLAB+spring_2018+type@problem+...,"[0, 0, 1, 0, 0]",0edf9012bff546778914358cd1e48f4e,2018-02-15T09:05:34.388942+00:00,243054
1,1,course-v1:spbu+SOCLAB+spring_2018,block-v1:spbu+SOCLAB+spring_2018+type@problem+...,"[0, 0, 0, 0, 0]",0edf9012bff546778914358cd1e48f4e,2018-02-15T12:41:49.105627+00:00,492510
3,2,course-v1:spbu+SOCLAB+spring_2018,block-v1:spbu+SOCLAB+spring_2018+type@problem+...,"[0, 0, 0, 0, 0]",0edf9012bff546778914358cd1e48f4e,2018-02-15T12:45:45.648085+00:00,492510

In [98]:
idx = df.groupby(['course_id','theme_id','problem_id','user_id'])['attempt_num'].idxmax()

In [102]:
df=df.loc[idx, ['course_id','theme_id','problem_id','user_id','results']]

In [105]:
df.to_csv(path_or_buf='tests_results.csv')

In [2]:
df = pd.read_csv('tests_results.csv', sep=',', encoding='utf-8')

In [71]:
themes=df['theme_id'].unique()

In [72]:
users=df['user_id'].unique()

In [132]:
for theme in themes:
    themeInformation=df.loc[df['theme_id'] == theme]
    for user in users:
        userResultInTheme=themeInformation.loc[df['user_id'] == user]
        if userResultInTheme.shape[0]>1:
            userResultInTheme=userResultInTheme.groupby(['course_id','theme_id','user_id']).agg({'results':sum})
            userResultInTheme=userResultInTheme.reset_index()
        if userResultInTheme.shape[0]==1:
            #calculations
        #write doc in db dont forget about 0-size
        #think about user coefficients
        #maybe make user dictionary

---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...

---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id

course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results

0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]

Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*

                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---

73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id

course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results

0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...

---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results

0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]

Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id

course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...

---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...

---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
---
0                        [0, 0, 1, 0, 0]
50              [1, 1, 1, 1, 1, 1, 1, 1]
51     [1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1]
52                    [1, 1, 1, 0, 1, 1]
5                                 [1, 1]
156       [1, 1, 1, 1, 1, 0, 0, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id

course-v1:spbu+SOCLAB+spring_2018 243054   [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   243054

                                             results
0  [0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
2                       [0, 0, 0, 0, 0]
6              [0, 0, 0, 0, 0, 0, 0, 0]
41    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
49                   [1, 1, 1, 0, 1, 1]
4                                [0, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 492510   [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   492510

                                             results
0  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, ...
---
7                     [1, 1, 1, 1, 1]
190                            [1, 1]
15                             [1, 1]
107    [1, 1, 1, 1, 1, 1, 0, 0, 1, 1]
157    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 28864    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    28864

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
160    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
10                    [0, 0, 0, 0, 0]
174                            [1, 1]
101    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
137    [1, 1, 1, 1, 0, 1, 1, 1, 1, 1]
175                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 56215    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    56215

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
13                      [1, 1, 1, 1, 1]
57    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
60                   [1, 1, 1, 0, 1, 1]
11                               [1, 1]
59                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 486614   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   486614

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
131             [1, 1, 1, 1, 1, 1, 1, 1]
20                       [1, 1, 0, 1, 1]
134             [1, 1, 0, 1, 1, 1, 1, 1]
22              [1, 0, 1, 1, 1, 1, 1, 1]
125    [1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0]
128                   [1, 1, 1, 0, 1, 1]
132                      [1, 1, 1, 1, 1]
130                      [1, 1, 1, 1, 1]
19                                [1, 1]
110       [1, 1, 1, 1, 1, 1, 1, 1, 0, 1]
116       [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
133                      [0, 1, 1, 1, 1]
126                   [1, 1, 1, 1, 1, 1]
129                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 554852   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   554852

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, ...
---
164    [1, 0, 0, 1, 0, 1, 1, 1, 1, 1]
180                            [1, 0]
24                             [1, 1]
113    [1, 1, 0, 1, 1, 1, 1, 1, 0, 1]
124    [1, 1, 1, 1, 0, 0, 0, 1, 0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 444404   [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   444404

                                             results
0  [1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, ...
---
176    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
64                    [0, 0, 0, 0, 0]
25                             [0, 0]
120    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
123    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 259731   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   259731

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
31                    [0, 0, 0, 0, 0]
54           [1, 1, 1, 1, 1, 1, 1, 1]
37                             [1, 1]
104    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
114    [1, 1, 1, 1, 0, 1, 1, 1, 1, 0]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 467046   [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   467046

                                             results
0  [0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
187    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
61                    [0, 0, 0, 0, 0]
63           [1, 0, 1, 1, 1, 1, 1, 1]
75                 [1, 1, 1, 0, 1, 1]
62                             [1, 1]
112    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
158    [1, 1, 1, 1, 0, 1, 1, 1, 0, 0]
76                 [1, 1, 1, 1, 1, 1]
106                [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 595666   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   595666

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, ...
---
73              [1, 1, 1, 1, 1, 1, 1, 1]
169       [1, 1, 1, 1, 1, 1, 0, 1, 1, 1]
68                       [1, 1, 1, 1, 1]
66              [1, 1, 0, 1, 1, 1, 1, 1]
65              [1, 0, 1, 1, 1, 0, 1, 1]
69     [1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1]
71                    [1, 1, 1, 0, 1, 1]
70                                [1, 1]
141       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
139       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0]
72                    [1, 1, 1, 1, 1, 1]
67                    [1, 0, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 583886   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   583886

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, ...
---
87             [1, 1, 1, 1, 1, 1, 1, 1]
78                      [1, 1, 1, 1, 1]
96             [1, 1, 1, 1, 1, 1, 1, 1]
82             [1, 1, 1, 1, 1, 1, 1, 1]
84    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
94                   [1, 1, 1, 0, 1, 1]
77                               [1, 1]
99       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
91                   [1, 1, 1, 1, 1, 1]
95                   [1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559616   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559616

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
171    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
179                            [1, 1]
81     [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
138    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
189                      [1, 1, 0, 0]
178                            [0, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 237133   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   237133

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
163    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
181                            [1, 1]
103    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
118    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 350494   [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   350494

                                             results
0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
182    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
191                            [1, 1]
145    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
154    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 22331    [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018    22331

                                             results

0  [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, ...
---
196    [1, 0, 0, 1, 1, 1, 0, 1, 1, 0]
148                   [1, 1, 1, 1, 0]
193          [1, 0, 1, 1, 1, 0, 0, 1]
152          [1, 0, 0, 0, 1, 0, 0, 1]
149                            [1, 1]
150    [0, 1, 0, 1, 1, 1, 1, 0, 0, 0]
146    [1, 1, 1, 0, 1, 1, 0, 1, 1, 1]
194                   [1, 1, 1, 1, 1]
Name: results, dtype: object
---*
                                                                                     results
course_id                         user_id
course-v1:spbu+SOCLAB+spring_2018 559517   [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...
                           course_id  user_id  \
0  course-v1:spbu+SOCLAB+spring_2018   559517

                                             results
0  [1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, ...

In [22]:
a=[1, 1, 1, 0, 1, 1]
import sympy as sym
#from sym import symbols
x,y,betta,gamma =sym.symbols('x y betta gamma')

In [24]:
print (sym.nsolve((x+(1-x)*y-betta,x+(1-x)*y+gamma-1),(x,y,betta,gamma),(1,1,1,1)) )

NotImplementedError:
need at least as many equations as variables

In [54]:
import sympy as sym

x,y,z,k,f,g,h,m,l =sym.symbols('x y z k f g h m l', nonnegative=True)
f=x+(1-x)*y
g=x*(1-y)**2+(1-x)*x*z*(1-y)+(1-x)**2*z
h=(1-y)**2
m=f+(1-f)*k
l=m+(1-m)*k
system=[
    f>=0,
    f<=1,
    x<=1,
    y<=1,
    g<=1,
    g>=0,
    h>=0,
    h<=1,
    1-(1-y)**2-g,
    m<=1,
    m>=0,
    l<=1,
    l>=0
]
vars=(x,y,z,k)
sol=set(sym.solve(system,vars))

NotImplementedError:
inequality has more than one symbol of interest

In [58]:
from scipy.optimize import minimize

In [123]:

fun = lambda x: x[0]+(1-x[0])*x[1]+(1-x[0]+(1-x[0])*x[1])*x[1]
first=lambda x: x[0]+(1-x[0])*x[1]
cons = (
        {'type': 'ineq', 'fun': first},
        {'type': 'ineq', 'fun': lambda x: -first+1},
    {'type': 'ineq', 'fun': lambda x: 1-x[2]**2},
     {'type': 'ineq', 'fun': lambda x: x[2]**2},
    {'type': 'ineq', 'fun': lambda x: x[1]*(1-x[2])**2+(1-x[1])*x[1]*x[3]*(1-x[2])**2+(1-x[1])**2*x[3]},
       )
x0=[1,0,0,1]
bnds = ((0, 1), (0, 1),(0, 1),(0,1))
sol=minimize(
    fun, 
    x0,  
    method='SLSQP', 
    bounds=bnds,
    constraints=cons)

In [124]:
print(sol)

     fun: 0.0
     jac: array([1.        , 2.00000001, 0.        , 0.        ])
 message: 'Optimization terminated successfully.'
    nfev: 12
     nit: 2
    njev: 2
  status: 0
 success: True
       x: array([0., 0., 0., 1.])

In [87]:
import numpy as np
res=sol.allvecs
eqres=[]
for s in res:
    if s[0]<=1 and s[0]>=0 and s[1]<=1 and s[1]>=0:
        eqres.append(s)

In [88]:
print(len(res))
print(len(eqres))

203
2

In [90]:
print(res)

[array([0., 0.]), array([0., 0.]), array([-0.000125, -0.000375]), array([-0.000125, -0.000375]), array([-0.00075, -0.00075]), array([-0.00075, -0.00075]), array([-0.001625, -0.001875]), array([-0.001625, -0.001875]), array([-0.00375, -0.00375]), array([-0.00375, -0.00375]), array([-0.007625, -0.007875]), array([-0.007625, -0.007875]), array([-0.01575, -0.01575]), array([-0.01575, -0.01575]), array([-0.031625, -0.031875]), array([-0.0400625, -0.0394375]), array([-0.07603125, -0.07546875]), array([-0.11089062, -0.10860938]), array([-0.20025781, -0.19724219]), array([-0.31466016, -0.30783984]), array([-0.5505957, -0.5404043]), array([-0.89736816, -0.87788184]), array([-1.54262549, -1.51174951]), array([-2.55879907, -2.50363843]), array([-4.35740051, -4.26731824]), array([-7.2890484 , -7.13293597]), array([-12.35207523, -12.09310446]), array([-20.74688441, -20.30442418]), array([-35.07034266, -34.33042101]), array([-59.02169016, -57.76605886]), array([-99.6442804 , -97.53587146]), array([-167.85827052, -164.29205346]), array([-283.21044605, -277.20976965]), array([-477.31451406, -467.18099174]), array([-805.07089914, -788.00203516]), array([-1357.15722769, -1328.35500106]), array([-2288.71316211, -2240.17357085]), array([-3858.66378643, -3776.78878754]), array([-6506.75096744, -6368.73353547]), array([-10970.69580658, -10737.93634282]), array([-18498.84258818, -18106.42724234]), array([-31190.80565726, -30529.0783068 ]), array([-52593.08075499, -51477.38563809]), array([-88678.14444201, -86796.84143265]), array([-149525.22648098, -146353.1839925 ]), array([-252118.8948745 , -246770.26686155]), array([-425109.89314921, -416091.49341578]), array([-716792.7290736 , -701586.27243098]), array([-1208616.14358522, -1182976.11504705]), array([-2037893.52268982, -1994660.59438549]), array([-3436179.04126535, -3363282.51928684]), array([-5793876.55876231, -5670962.4404144 ]), array([-9769296.35466185, -9562046.25078088]), array([-16472401.28760554, -16122947.99821925]), array([-27774793.34587647, -27185566.49267139]), array([-46832199.24089932, -45838679.23477419]), array([-78965686.30495259, -77290472.59472987]), array([-1.33147242e+08, -1.30322595e+08]), array([-2.24504993e+08, -2.19742243e+08]), array([-3.78546980e+08, -3.70516311e+08]), array([-6.38283477e+08, -6.24742641e+08]), array([-1.07623570e+09, -1.05340394e+09]), array([-1.81468480e+09, -1.77618725e+09]), array([-3.05981380e+09, -2.99490151e+09]), array([-5.15927650e+09, -5.04982526e+09]), array([-8.69926585e+09, -8.51471565e+09]), array([-1.46681859e+10, -1.43570083e+10]), array([-2.47326247e+10, -2.42079355e+10]), array([-4.17026842e+10, -4.08179844e+10]), array([-7.03165914e+10, -6.88248631e+10]), array([-1.18563664e+11, -1.16048400e+11]), array([-1.99915015e+11, -1.95673926e+11]), array([-3.37084836e+11, -3.29933764e+11]), array([-5.68372448e+11, -5.56314735e+11]), array([-9.58355895e+11, -9.38024896e+11]), array([-1.61592284e+12, -1.58164192e+12]), array([-2.72467321e+12, -2.66687075e+12]), array([-4.59418229e+12, -4.49671921e+12]), array([-7.74643757e+12, -7.58210111e+12]), array([-1.30615834e+13, -1.27844890e+13]), array([-2.20236668e+13, -2.15564467e+13]), array([-3.71350001e+13, -3.63472013e+13]), array([-6.26148337e+13, -6.12864940e+13]), array([-1.05577417e+14, -1.03337650e+14]), array([-1.78018376e+14, -1.74241813e+14]), array([-3.00164022e+14, -2.93796206e+14]), array([-5.06118763e+14, -4.95381729e+14]), array([-8.53387426e+14, -8.35283276e+14]), array([-1.43893124e+15, -1.40840510e+15]), array([-2.42624047e+15, -2.37476910e+15]), array([-4.09098272e+15, -4.00419474e+15]), array([-6.89797230e+15, -6.75163557e+15]), array([-1.16309516e+16, -1.13842073e+16]), array([-1.96114204e+16, -1.91953748e+16]), array([-3.30676134e+16, -3.23661019e+16]), array([-5.57566475e+16, -5.45738005e+16]), array([-9.40135505e+16, -9.20191041e+16]), array([-1.58520070e+17, -1.55157153e+17]), array([-2.67287136e+17, -2.61616785e+17]), array([-4.50683708e+17, -4.41122698e+17]), array([-7.59916126e+17, -7.43794918e+17]), array([-1.28132548e+18, -1.25414286e+18]), array([-2.16049499e+18, -2.11466126e+18]), array([-3.64289846e+18, -3.56561634e+18]), array([-6.14243921e+18, -6.01213070e+18]), array([-1.03570165e+19, -1.01372980e+19]), array([-1.74633867e+19, -1.70929104e+19]), array([-2.94457264e+19, -2.88210513e+19]), array([-4.96496366e+19, -4.85963465e+19]), array([-8.37162710e+19, -8.19402758e+19]), array([-1.41157409e+20, -1.38162831e+20]), array([-2.38011246e+20, -2.32961967e+20]), array([-4.01320440e+20, -3.92806645e+20]), array([-6.76682713e+20, -6.62327257e+20]), array([-1.14098224e+21, -1.11677692e+21]), array([-1.92385654e+21, -1.88304297e+21]), array([-3.24389275e+21, -3.17507532e+21]), array([-5.46965946e+21, -5.35362361e+21]), array([-9.22261522e+21, -9.02696245e+21]), array([-1.55506265e+22, -1.52207284e+22]), array([-2.62205437e+22, -2.56642891e+22]), array([-4.42115249e+22, -4.32736015e+22]), array([-7.45468499e+22, -7.29653790e+22]), array([-1.25696475e+23, -1.23029892e+23]), array([-2.11941937e+23, -2.07445704e+23]), array([-3.57363918e+23, -3.49782637e+23]), array([-6.02565834e+23, -5.89782727e+23]), array([-1.01601075e+24, -9.94456637e+23]), array([-1.71313704e+24, -1.67679377e+24]), array([-2.88859003e+24, -2.82731016e+24]), array([-4.87056910e+24, -4.76724262e+24]), array([-8.21246461e+24, -8.03824163e+24]), array([-1.38473705e+25, -1.35536061e+25]), array([-2.33486145e+25, -2.28532863e+25]), array([-3.93690482e+25, -3.85338553e+25]), array([-6.63817531e+25, -6.49735002e+25]), array([-1.11928973e+26, -1.09554461e+26]), array([-1.88727993e+26, -1.84724231e+26]), array([-3.18221942e+26, -3.11471037e+26]), array([-5.36566956e+26, -5.25183980e+26]), array([-9.04727363e+26, -8.85534064e+26]), array([-1.52549759e+27, -1.49313499e+27]), array([-2.57220352e+27, -2.51763562e+27]), array([-4.33709695e+27, -4.24508780e+27]), array([-7.31295552e+27, -7.15781514e+27]), array([-1.23306717e+28, -1.20690832e+28]), array([-2.07912469e+28, -2.03501719e+28]), array([-3.50569668e+28, -3.43132523e+28]), array([-5.91109771e+28, -5.78569699e+28]), array([-9.96694221e+28, -9.75549895e+28]), array([-1.68056665e+29, -1.64491434e+29]), array([-2.83367177e+29, -2.77355696e+29]), array([-4.77796919e+29, -4.67660717e+29]), array([-8.05632813e+29, -7.88541751e+29]), array([-1.35841024e+30, -1.32959231e+30]), array([-2.29047075e+30, -2.24187966e+30]), array([-3.86205586e+30, -3.78012445e+30]), array([-6.51196943e+30, -6.37382154e+30]), array([-1.09800964e+31, -1.07471597e+31]), array([-1.85139871e+31, -1.81212229e+31]), array([-3.12171864e+31, -3.05549308e+31]), array([-5.26365674e+31, -5.15199112e+31]), array([-8.87526565e+31, -8.68698171e+31]), array([-1.49649463e+32, -1.46474731e+32]), array([-2.52330045e+32, -2.46977000e+32]), array([-4.25463948e+32, -4.16437962e+32]), array([-7.17392063e+32, -7.02172980e+32]), array([-1.20962393e+33, -1.18396241e+33]), array([-2.03959609e+33, -1.99632717e+33]), array([-3.43904590e+33, -3.36608841e+33]), array([-5.79871513e+33, -5.67569854e+33]), array([-9.77744937e+33, -9.57002609e+33]), array([-1.64861549e+34, -1.61364101e+34]), array([-2.77979762e+34, -2.72082573e+34]), array([-4.68712980e+34, -4.58769489e+34]), array([-7.90316014e+34, -7.73549889e+34]), array([-1.33258397e+35, -1.30431392e+35]), array([-2.24692401e+35, -2.19925674e+35]), array([-3.78862994e+35, -3.70825622e+35]), array([-6.38816299e+35, -6.25264159e+35]), array([-1.07713414e+36, -1.05428332e+36]), array([-1.81619967e+36, -1.77766998e+36]), array([-3.06236811e+36, -2.99740163e+36]), array([-5.16358339e+36, -5.05404077e+36]), array([-8.70652791e+36, -8.52182366e+36]), array([-1.46804307e+37, -1.43689934e+37]), array([-2.47532712e+37, -2.42281440e+37]), array([-4.17374971e+37, -4.08520588e+37]), array([-7.03752909e+37, -6.88823174e+37]), array([-1.18662640e+38, -1.16145276e+38]), array([-2.00081902e+38, -1.95837273e+38]), array([-3.37366230e+38, -3.30209189e+38]), array([-5.68846918e+38, -5.56779140e+38]), array([-9.59155919e+38, -9.38807948e+38]), array([-1.61727180e+39, -1.58296225e+39]), array([-2.72694774e+39, -2.66909702e+39]), array([-4.59801746e+39, -4.50047302e+39]), array([-7.75290420e+39, -7.58843055e+39]), array([-1.30724870e+40, -1.27951613e+40]), array([-2.20420519e+40, -2.15744418e+40]), array([-3.71660000e+40, -3.63775435e+40]), array([-6.26671038e+40, -6.13376553e+40]), array([-1.05665552e+41, -1.03423915e+41])]