In [1]:
import time 
import warnings 

import numpy as np
import pandas as pd

from sklearn import cluster
from sklearn.metrics import silhouette_score

from sklearn.preprocessing import StandardScaler

import plotly.plotly as py
import plotly.graph_objs as go

In [2]:
#from getUserStudyModel import getModel
#userModel=getModel()
userModel = pd.read_csv('fully_prob_model.csv', sep=',', encoding='utf-8')

In [ ]:
#userModel=userModel.drop_duplicates()

In [ ]:
#userModel.shape

In [ ]:
#userModel1.to_csv('fully_study_model.csv',index=False)

In [24]:
def clustering(userModel):

    #X=userModel.loc[userModel['theme_id']=='e3c0abd8380d446c8e9a5fb6b15aeefc']
    X=userModel
    #X=X.loc[:,['problem_duration_graded','problem_duration_ungraded','video_duration']]    
    
    X = StandardScaler().fit_transform(X)    
    
    floatArr=[i for i in np.arange(0.1,1.1,0.1)]
    intArr=[i for i in range(2,10)]
    
    
    #eps float and minsamples int
    #algorithm=cluster.DBSCAN()   
    
    #eigen_tol float and n_clusters int (optional)
    #algorithm=cluster.SpectralClustering() 
    
    #n_clusters int
    #algorithm=cluster.AgglomerativeClustering()
    
    #n_clusters int and batch_size int
    algorithm=cluster.MiniBatchKMeans()
    
    #dim=3
    #dim=2
    
    coords=[]
    #"""
    #for para1 in floatArr:
    for para1 in intArr:
        for para2 in intArr:
            silhouette,time,clusters_num=clusteringParams(X,para1,para2,algorithm)            
            coords.append((para1,para2,silhouette,time,clusters_num))
    """
    for para1 in intArr:
        silhouette,time,clusters_num=clusteringParams(X,para1,0,algorithm)
        coords.append((para1,silhouette,time))
    """
        
    
            
    return coords,3

In [31]:
def clusteringParams(X,para1,para2,algorithm):

    #algorithm.set_params(eps=para1, min_samples=para2) #dbscan
    #algorithm.set_params(n_clusters=para2,eigen_tol=para1) #spectural
    #algorithm.set_params(n_clusters=para1) #agglomerative
    algorithm.set_params(n_clusters=para1,batch_size=para2) #k-means
    
    t0 = time.time()
    
    with warnings.catch_warnings():
        warnings.filterwarnings(
            "ignore",
            message="the number of connected components of the " +
            "connectivity matrix is [0-9]{1,2}" +
            " > 1. Completing it to avoid stopping the tree early.",
            category=UserWarning)
        warnings.filterwarnings(
            "ignore",
            message="Graph is not fully connected, spectral embedding" +
            " may not work as expected.",
            category=UserWarning)
        algorithm.fit(X)
    t1 = time.time()
    
    labels_num=len(np.unique(algorithm.labels_))

    if len(np.unique(algorithm.labels_))>1:
        silhouette=silhouette_score(X,labels=algorithm.labels_)        
    else:
        silhouette=-1
       
    return silhouette, (t1-t0) , labels_num

In [25]:
coords,dim=clustering(userModel)

In [27]:
tmp=pd.DataFrame(coords, columns=['para1','para2','silhouette','time','clusters_num'])

#tmp=pd.DataFrame(coords, columns=['para1','silhouette','time'])

In [28]:
maxCoef=max(list(tmp['silhouette']))
maxCoef

0.30233186874685886

In [29]:
t=tmp.loc[tmp['silhouette']==maxCoef]

In [30]:
t

   para1  silhouette      time
0      2    0.302332  1.195453

In [ ]:
minTime=min(list(t['time']))

In [ ]:
t=t.loc[t['time']==minTime]

In [ ]:
#metricPlot(coords,dim)

In [ ]:
#основные кластеры

In [ ]:
#Поменять параметры в моделях для конкретной задаче

In [18]:

#userModel = pd.read_csv('problems_starts_time.csv', sep=',', encoding='utf-8')
#problems_starts_time
models=userModel  
scal = StandardScaler()
X_t = scal.fit_transform(models)

#centers=scal.inverse_transform(algorithm3.cluster_centers_)

In [19]:
algorithm1=cluster.DBSCAN(eps=0.5, min_samples=2)
algorithm1.fit(X_t)

DBSCAN(algorithm='auto', eps=0.5, leaf_size=30, metric='euclidean',
    metric_params=None, min_samples=2, n_jobs=1, p=None)

In [20]:
algorithm2=cluster.SpectralClustering(n_clusters=9,eigen_tol=0.7)
algorithm2.fit(X_t)

SpectralClustering(affinity='rbf', assign_labels='kmeans', coef0=1, degree=3,
          eigen_solver=None, eigen_tol=0.7, gamma=1.0, kernel_params=None,
          n_clusters=9, n_init=10, n_jobs=1, n_neighbors=10,
          random_state=None)

In [21]:
algorithm3=cluster.AgglomerativeClustering(n_clusters=2)
algorithm3.fit(X_t)

AgglomerativeClustering(affinity='euclidean', compute_full_tree='auto',
            connectivity=None, linkage='ward', memory=None, n_clusters=2,
            pooling_func=<function mean at 0x00000188B187DA60>)

In [22]:
algorithm4=cluster.MiniBatchKMeans(n_clusters=3,batch_size=3)
algorithm4.fit(X_t)

MiniBatchKMeans(batch_size=3, compute_labels=True, init='k-means++',
        init_size=None, max_iter=100, max_no_improvement=10, n_clusters=3,
        n_init=3, random_state=None, reassignment_ratio=0.01, tol=0.0,
        verbose=0)

In [ ]:
"""
X=userModel.loc[:,['problem_duration_graded','problem_duration_ungraded','video_duration']]
X = scale(X) 
algorithm2.fit(X)
"""

In [ ]:
"""
from sklearn.preprocessing import MinMaxScaler 
scale_features = MinMaxScaler() 
X=userModel.loc[:,['problem_duration_graded','problem_duration_ungraded','messagiesNum','video_duration']]  
features_train = scale_features.fit_transform(X) 
algorithm1.fit(features_train)
"""

In [51]:
centers=scal.inverse_transform(algorithm3.cluster_centers_)
centers

AttributeError: 'AgglomerativeClustering' object has no attribute 'cluster_centers_'

In [58]:
tmp=pd.DataFrame(algorithm2.labels_)

In [59]:
labeledModel=userModel.join(tmp)

In [54]:
#forcalc=labeledModel.loc[labeledModel[0]==0]
minimum=labeledModel.groupby(0)[labeledModel.columns].min()
maximum=labeledModel.groupby(0)[labeledModel.columns].max()

In [60]:
mean=labeledModel.groupby(0)[labeledModel.columns].mean()

In [61]:
mean

,TS_V,TS_T,TS_P,V_V,V_T,V_P,V_TE,T_V,T_T,T_P,T_TE,P_V,P_T,P_P,P_TE,0
0,,,,,,,,,,,,,,,,
0,1.000000,0.000000,0.000000,0.749430,0.000000,0.000000,0.250570,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.000000,0.000000,0
1,0.913281,0.004444,0.042275,0.401683,0.061646,0.090639,0.406032,0.087407,0.028148,0.0,0.044444,0.64098,0.0,0.075477,0.083543,1
2,1.000000,0.000000,0.000000,0.214597,0.000000,0.000000,0.785403,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.000000,0.000000,2
3,1.000000,0.000000,0.000000,0.401175,0.000000,0.000000,0.598825,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.000000,0.000000,3
4,1.000000,0.000000,0.000000,0.597610,0.000000,0.000000,0.402390,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.000000,0.000000,4
5,0.993590,0.000000,0.006410,0.657223,0.000000,0.060000,0.282777,0.000000,0.000000,0.0,0.000000,1.00000,0.0,0.000000,0.000000,5
6,1.000000,0.000000,0.000000,0.177245,0.000000,0.133514,0.689241,0.000000,0.000000,0.0,0.000000,1.00000,0.0,0.000000,0.000000,6
7,1.000000,0.000000,0.000000,0.528641,0.000000,0.000000,0.471359,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.000000,0.000000,7
8,0.967803,0.000000,0.032197,0.638846,0.000000,0.000000,0.361154,0.000000,0.000000,0.0,0.000000,0.00000,0.0,0.000000,1.000000,8

In [49]:
minimum

,TS_V,TS_T,TS_P,V_V,V_T,V_P,V_TE,T_V,T_T,T_P,T_TE,P_V,P_T,P_P,P_TE,0
0,,,,,,,,,,,,,,,,
0,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0
1,0.700000,0.0,0.0,0.000000,0.0,0.055556,0.560000,0.0,0.0,0.0,0.0,0.666667,0.0,0.0,0.0,1
2,0.882353,0.0,0.0,0.411765,0.0,0.025641,0.146341,0.0,0.0,0.0,0.0,0.428571,0.0,0.0,0.0,2

In [50]:
maximum

,TS_V,TS_T,TS_P,V_V,V_T,V_P,V_TE,T_V,T_T,T_P,T_TE,P_V,P_T,P_P,P_TE,0
0,,,,,,,,,,,,,,,,
0,1.0,0.000000,0.065217,0.823529,1.000000,0.024096,1.000000,1.000000,0.000000,0.0,1.000000,0.6,0.0,0.000000,1.000000,0
1,1.0,0.000000,0.300000,0.300000,0.000000,0.230769,0.818182,0.000000,0.000000,0.0,0.000000,1.0,0.0,0.000000,0.333333,1
2,1.0,0.111111,0.117647,0.743902,0.269231,0.235294,0.384615,0.185185,0.703704,0.0,0.111111,1.0,0.0,0.571429,0.375000,2

In [ ]:
labeledModel.loc[labeledModel[0]==-1].loc[labeledModel['problem_duration_graded']==0].loc[labeledModel['problem_duration_ungraded']==0].loc[labeledModel['video_duration']==0]

In [ ]:
def metricPlot(coords,dim):
    marker=dict(
        size=5,
        line=dict(
            color='rgb(0, 0, 0)',
            width=0.5
        )
    )
    
    if dim==3:
        tmp=pd.DataFrame(coords, columns=['para1','para2','coefficient','time','cluster_num'])
        X=tmp['para1']
        Y=tmp['para2']
        Z=tmp['coefficient']
        #text="time: "+ str(tmp['time'])+", clusters: "+ str(tmp['cluster_num'])
        
        trace = go.Scatter3d(
            x=X,
            y=Y,
            z=Z,
            text=tmp['cluster_num'],
            mode='markers',
            marker=marker
        )
    else:
        tmp=pd.DataFrame(coords, columns=['para1','coefficient','time'])
        X=tmp['para1']
        Y=tmp['coefficient']
        text=tmp['time']
        
        trace = go.Scatter(
            x=X,
            y=Y,
            text=text,
            mode='markers',
            marker=marker
        )         

    data = [trace]
    
    layout = go.Layout(
        margin=dict(
            l=0,
            r=0,
            b=0,
            t=0
        ),
        scene = dict(
        xaxis=dict(title='eps'),
        yaxis=dict(title='min_samples'),
        zaxis=dict(title='silhouette')
        )
    )
    fig = go.Figure(data=data, layout=layout)
    py.iplot(fig, world_readable=True, filename='dbscan')

In [ ]:
marker=dict(
    size=5,
        line=dict(
            color='rgb(0, 0, 0)',
            width=0.5
        )
)
        
trace = go.Scatter3d(
    x=tmp['para1'],
    y=tmp['para2'],
    z=tmp['silhouette'],
    text=tmp['clusters_num'],
    mode='markers',
    marker=marker
)
data = [trace]
    
layout = go.Layout(
    margin=dict(
            l=0,
            r=0,
            b=0,
            t=0
    ),
    scene = dict(
        xaxis=dict(title='eps'),
        yaxis=dict(title='min_samples'),
        zaxis=dict(title='silhouette')
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, world_readable=True, filename='dbscan')